# APPLICATION
PORT=
NODE_ENV=

# DATABASE
DB_HOST=
DB_NAME=
DB_PORT=
DB_USER=
DB_PASS=

# Cookie 
COOKIE_SECRET=

# JWT 
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_TIME=
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRE_TIME=

# Email

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# App URL 
APP_URL=

# TELEGRAM_BOT

BOT_TOKEN=

# Optional proxy
TELEGRAM_PROXY=