<nav class="topnav">
  <a href="/" class="logo">
    <span class="sj">SJ</span>
    <span>Smart<span class="orange">Job</span></span>
  </a>
  <div class="search-box">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Lavozim, kompaniya yoki kalit so'z...">
  </div>
  <div class="avatar">{{initials user.full_name}}</div>
</nav>